@model Adress
@{
    ViewData["Title"] = "EditAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adres Bilgisi Güncelleme Sayfası</h4>
            <form class="forms-sample" method="post">
                @Html.HiddenFor(x=>x.AdressID)
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 1</label>
                    <span asp-validation-for="Description1" class="text-danger"></span>
                    <input asp-for="Description1" type="text" class="form-control" placeholder="Açıklama 1">
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 2</label>
                    <span asp-validation-for="Description2" class="text-danger"></span>
                    <input asp-for="Description2" type="text" class="form-control" placeholder="Açıklama 2">
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 3</label>
                    <span asp-validation-for="Description3" class="text-danger"></span>
                    <input asp-for="Description3" type="text" class="form-control" placeholder="Açıklama 3">
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 4</label>
                    <span asp-validation-for="Description4" class="text-danger"></span>
                    <input asp-for="Description4" type="text" class="form-control" placeholder="Açıklama 4">
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputName1">Harita Konumu</label>
                    <span asp-validation-for="Mapinfo" class="text-danger"></span>
                    <input asp-for="Mapinfo" type="text" class="form-control" placeholder="Harita bilgisi">
                </div>
                <br />
                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>



